:root{
    --colorTarjeta:#03045E;
    --colorSecundario:#0077B6;
    --colorBoton: #00B4D8;
    --colorFondo:#CAF0F8;
    --color4:#90E0EF;
    --colorSeparador: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Future Earth; 
    scroll-behavior: smooth;
    animation-duration: 10s;
    position: relative;
}

body{
    background-color: var(--colorFondo);
    height: auto;
}

.tarjetapresentacion{
    width: 1179px;
    height: 579px;
    background-color: var(--colorTarjeta);
    margin: 62px auto 25px auto;
    padding: 30px;
    display: flex;
    gap: 23px;
    box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);
    border: 5px solid black;

    .tarjetapresentacion-contenido{
        h2{
            color: var(--color4);
            font-size: 32px;
            font-weight: lighter;
            margin-bottom: 12px;
            line-height: 1.5;
        }

        hr{
            background-color: var(--colorSeparador);
            height: 5px;
            border: none;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        p{
            font-size: 18px;
            font-weight: lighter;
            line-height: 1.8;
            /* font-family: 'Comic'; */
        }
    }

    .imagenPerfil{
        img{
            width: 240px;
            border-radius: 5px;
            margin-top: 50px;
        }
    }
}