:root{
    --colorTarjeta:#03045E;
    --colorSecundario:#0077B6;
    --colorBoton: #00B4D8;
    --colorFondo:#CAF0F8;
    --color4:#90E0EF;
    --colorSeparador: white;
}

body {
    font-family: Future Earth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: var(--colorFondo);
}

.tarjetapresentacion {
    width: 1180px;
    height: 450px;
    margin-top: 222px;
    margin-bottom: 222px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    background-color: var(--colorTarjeta);
    color: var(--color4);
    border: 5px solid black;
    max-width: 800px;
}

.ladoizquierdo {
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.ladoizquierdo .perfil {
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 5px;
    display: flexbox;
}

.ladoizquierdo h2 {
    font-family: Comic Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center; 
    font-weight: lighter;
    font-size: 40px;
    line-height: 1;
    margin: 5px;
    margin-left: 5px;
    padding: 5px;
    color: var(--color4);
    display: flex;
}

.ladoderecho {
    margin: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.ladoderecho h3 {
    font-weight: lighter;
    font-size: 34px;
    margin: 5px;
    text-align: center;
    color: var(--color4);
    padding: 5px;
}
hr{
    height: 3px;               
    width: 90%;               
    background-color: white;  
    border-radius: 3px;
}
/* Redes sociales */
.redes {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.fila-red {
    margin-bottom: 10px;
    display: flex; /* Para alinear ícono y texto horizontalmente */
    align-items: center; /* Centra verticalmente ícono y texto */
}

.fila-red p {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0; /* Elimina márgenes */
    font-size: 32px;
    color: white;
    font-weight: lighter;
    margin-left: 10px; /* Espacio entre el ícono y el texto */
}

.redes .icon {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
}


/* Boton contactame */
.contacto {
    background-color: var(--colorBoton);
    color: black;
    border-radius: 150px;
    border: 1px;
    font-family: Future Earth;
    font-size: 30px;
    width: 350px;
    height: 75px;
    cursor: pointer;
    align-self: center;
    margin: 2px;
    padding: 2px;
}
.contacto:hover{
    background-color: var(--color4);
    color: var(--colorBoton);
}

/* --- Media Query para hacer Responsive --- */
@media (max-width: 768px) {
    .tarjetapresentacion {
        flex-direction: column; /* Cambia a disposición vertical */
        height: auto;
        align-items: center;
    }

    .ladoizquierdo .perfil {
        width: 250px;
        height: 250px;
    }

    .ladoizquierdo h2 {
        font-family: Future Earth;
        font-size: 30px;
    }

    .ladoderecho h3 {
        font-size: 34px;
    }

    .contacto {
        width: 250px;
        height: 50px;
        font-size: 20px;
    }

    hr {
        width: 90%;
    }

    .contacto {
        background-color: var(--colorBoton);
        color: black;
        border-radius: 150px;
        border: 1px;
        font-family: Future Earth;
        font-size: 30px;
        width: 350px;
        height: 75px;
        cursor: pointer;
        align-self: center;
        margin: 2px;
        padding: 2px;
    }
    .contacto:hover{
        background-color: var(--color4);
        color: var(--colorBoton);
    }
}