:root{
    --colorTarjeta:#03045E;
    --colorSecundario:#0077B6;
    --colorBoton: #00B4D8;
    --colorFondo:#CAF0F8;
    --color4:#90E0EF;
    --colorSeparador: white;
}

body {
    font-family: Future Earth;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-color: var(--colorFondo);
}

.tarjetapresentacion {
    width: 1170px;
    height: 440px;
    margin-top: 222px;
    margin-bottom: 222px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    background-color: var(--colorTarjeta);
    color: var(--color4);
    border: 5px solid black;
    max-width: 800px;
}

.ladoizquierdo {
    text-align: center;
    padding: 20px;
    margin: 0px;
}

.ladoizquierdo .perfil {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ladoizquierdo h2 {
    font-weight: lighter;
    font-size: 32px;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 15px;
    color: var(--color4);
}

.ladoderecho {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.ladoderecho h3 {
    font-weight: lighter;
    font-size: 34px;
    margin-right: 120px;
    margin-top: 0px;
    margin-bottom: 175px;
    color: var(--color4);
}

.redes p {
    margin: 10px 0;
    font-size: 18px;
}

























/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Future Earth; 
    scroll-behavior: smooth;
    animation-duration: 10s;
    position: relative;
}

body{
    background-color: var(--colorFondo);
    height: auto;
}
main{
    margin-top: 162px;
.tarjetapresentacion{
    width: 1179px;
    height: 579px;
    background-color: var(--colorTarjeta);
    margin: 62px auto 25px auto;
    padding: 30px;
    display: flex;
    gap: 23px;
    box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);
    border: 5px solid black;

    .tarjetapresentacion-contenido{
        h2{
            color: var(--color4);
            font-size: 42px;
            font-weight: lighter;
            margin-top: 400px;
            margin-bottom: 83px;
            margin-left: 34px;
            margin-right: 589px;
            line-height: 1.5;
        }

        hr{
            background-color: var(--colorSeparador);
            height: 5px;
            border: none;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        p{
            font-size: 18px;
            font-weight: lighter;
            line-height: 1.8;
        }
       
    }
   }
   .imagenPerfil{
    img{
        width: 293px;
        height: 309px;
        border-radius: 140.5px;
        margin-top: 61px;
        margin-bottom: 209px;
        margin-left: 147px;
        margin-right: 739px;
    }
}
} */