:root{
    --colorTarjeta:#03045E;
    --colorSecundario:#0077B6;
    --colorBoton: #00B4D8;
    --colorFondo:#CAF0F8;
    --color4:#90E0EF;
    --colorSeparador: white;
}

/* body{
    background-color: var(--colorFondo);
}

.card .p-4{
    background-color: var(--colorFondo);
    border: 2px solid black;
}

hr{
    height: 2px; 
    background-color: black; 
    border: none;
}

form{
    margin: 185px;
    width: 800px;
    
    h1{
        text-align: center;
        padding: 10px;
    }
} */


/* Personalización del formulario */
.card {
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

form .form-control {
    background-color: #e0e0e0;
    border: 1px solid #b0b0b0;
}

button[type="submit"] {
    background-color: #00B4D8;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
}

button[type="submit"]:hover {
    background-color: #0077B6;
}